.svn
*.zip
docs
stacktrace.log
target
web-app/css/
web-app/images/
web-app/js/
.idea/
grails-avatar.iml
grails-avatar-grailsPlugins.iml
*.tld
web-app/WEB-INF/sitemesh.xml
web-app/WEB-INF/applicationContext.xml
